<div class="container mt-5">
    <div class="card text-center">
        <h1>Add new joiner</h1>
    </div>
    <div class="col-md-12">
        <div class="card card-container">
            <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />
            <form #addForm="ngForm"(ngSubmit)="submit(addForm)">
                <input type="text"
                ngModel
                name="lastName"
                id="lastName"
                placeholder="Enter last name"
                class="form-control mb-3"
                >
                <input type="text"
                ngModel
                name="firstName"
                id="firstName"
                placeholder="Enter first name"
                class="form-control mb-3"
                >
                <select name="position" id="position"  class="form-control mb-3">
                    <option *ngFor="let position of positions" [ngValue]="position.id">
                      {{position.name}}
                    </option>
                  </select>
                <input type="date"
                ngModel
                name="startDate"
                id="startDate"
                class="form-control mb-3"
                >
                <input type="text"
                ngModel
                name="project"
                id="project"
                placeholder="Enter project"
                class="form-control mb-3"
                >    
                <input type="submit"
                value="Add"
                class="btn btn-outline-primary form-control rounded-0">
            </form>
        </div>
    </div>
</div>