<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Digitalize IT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin"
            *ngIf="userService.roleMatch('ROLE_MANAGER')"
            >Add New Joiner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/list"
            *ngIf="userService.roleMatch('ROLE_MANAGER')"
           >New Joiners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user"
            *ngIf="userService.roleMatch('ROLE_IT_SUPPORT')"
            >New Joiners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/history"
            *ngIf="isLoggedIn()" 
           >History</a>
          </li>
        </ul>
        <h3 class="nav-item mr-3" style="margin-top: 12px; margin-right:30px; color: white;" aria-current="page" routerLink="#"
        *ngIf="userService.roleMatch('ROLE_MANAGER')"
       >Manager page</h3>
       <h3 class="nav-item mr-3" style="margin-right:30px; color: white; margin-top: 12px;"  aria-current="page" routerLink="#"
       *ngIf="userService.roleMatch('ROLE_IT_SUPPORT')"
       >IT Support page</h3>
        <button *ngIf="! isLoggedIn()" type="button" class="btn btn-info" routerLink="/login">Login
          </button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-outline-danger" (click)="logout()" >Logout</button>
      </div>
    </div>
  </nav>